.cute-bars {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.cute-bars > div {
  width: 4px;
  height: 40px;
  border-radius: 2px;
  animation: cute-bars 1.2s ease-in-out infinite;
}

.cute-bars > div:nth-child(1) {
  animation-delay: -1.1s;
}

.cute-bars > div:nth-child(2) {
  animation-delay: -1s;
}

.cute-bars > div:nth-child(3) {
  animation-delay: -0.9s;
}

.cute-bars > div:nth-child(4) {
  animation-delay: -0.8s;
}

.cute-bars > div:nth-child(5) {
  animation-delay: -0.7s;
}

@keyframes cute-bars {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

