.cute-circle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cute-circle > div {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  animation: cute-circle-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.cute-circle > div:nth-child(1) {
  width: 48px;
  height: 48px;
  animation-delay: -0.45s;
}

.cute-circle > div:nth-child(2) {
  width: 40px;
  height: 40px;
  animation-delay: -0.3s;
}

@keyframes cute-circle-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

