.cute-clock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cute-clock-svg {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.cute-clock-hour-hand {
  transform-origin: 25px 25px;
  animation: cute-clock-hour 60s linear infinite;
}

.cute-clock-minute-hand {
  transform-origin: 25px 25px;
  animation: cute-clock-minute 1s linear infinite;
}

@keyframes cute-clock-hour {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cute-clock-minute {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

