.cute-glitch {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cute-glitch-svg {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.cute-glitch-shape {
  animation: cute-glitch-animate 1.5s ease-in-out infinite;
}

@keyframes cute-glitch-animate {
  0%, 100% {
    transform: translate(0, 0);
    filter: hue-rotate(0deg);
  }
  10% {
    transform: translate(-2px, 2px);
    filter: hue-rotate(90deg);
  }
  20% {
    transform: translate(2px, -2px);
    filter: hue-rotate(180deg);
  }
  30% {
    transform: translate(-2px, -2px);
    filter: hue-rotate(270deg);
  }
  40% {
    transform: translate(2px, 2px);
    filter: hue-rotate(360deg);
  }
  50% {
    transform: translate(0, 0);
    filter: hue-rotate(0deg);
  }
  60% {
    transform: translate(-3px, 0);
    filter: hue-rotate(90deg);
  }
  70% {
    transform: translate(3px, 0);
    filter: hue-rotate(180deg);
  }
  80% {
    transform: translate(0, -3px);
    filter: hue-rotate(270deg);
  }
  90% {
    transform: translate(0, 3px);
    filter: hue-rotate(360deg);
  }
}

