.cute-infinity {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cute-infinity-svg {
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 30px;
}

.cute-infinity-path {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: cute-infinity-draw 2s ease-in-out infinite;
}

.cute-infinity-path:nth-child(2) {
  animation-delay: -1s;
}

@keyframes cute-infinity-draw {
  0% {
    stroke-dashoffset: 60;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 60;
  }
}

