.cute-morphing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cute-morphing-svg {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.cute-morphing-shape {
  transform-origin: 25px 25px;
  animation: cute-morphing-animate 2s ease-in-out infinite;
}

@keyframes cute-morphing-animate {
  0%, 100% {
    transform: scaleX(1) scaleY(1) rotate(0deg);
  }
  25% {
    transform: scaleX(0.4) scaleY(1.4) rotate(90deg);
  }
  50% {
    transform: scaleX(1.4) scaleY(0.4) rotate(180deg);
  }
  75% {
    transform: scaleX(0.4) scaleY(1.4) rotate(270deg);
  }
}

