.cute-orbit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cute-orbit > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: cute-orbit 5s ease-in-out infinite;
}

.cute-orbit > div:nth-child(1) {
  animation: cute-orbit-1 5s ease-in-out infinite;
}

.cute-orbit > div:nth-child(2) {
  animation: cute-orbit-2 5s ease-in-out infinite;
}

.cute-orbit > div:nth-child(3) {
  animation: cute-orbit-3 5s ease-in-out infinite;
}

@keyframes cute-orbit-1 {
  0% {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  50% {
    transform: rotate(720deg) translateX(20px) rotate(-720deg);
  }
  62.5% {
    transform: rotate(720deg) translateX(0px) rotate(-720deg);
  }
  75% {
    transform: rotate(720deg) translateX(20px) rotate(-720deg);
  }
  100% {
    transform: rotate(1080deg) translateX(20px) rotate(-1080deg);
  }
}

@keyframes cute-orbit-2 {
  0% {
    transform: rotate(120deg) translateX(20px) rotate(-120deg);
  }
  50% {
    transform: rotate(840deg) translateX(20px) rotate(-840deg);
  }
  62.5% {
    transform: rotate(840deg) translateX(0px) rotate(-840deg);
  }
  75% {
    transform: rotate(840deg) translateX(20px) rotate(-840deg);
  }
  100% {
    transform: rotate(1200deg) translateX(20px) rotate(-1200deg);
  }
}

@keyframes cute-orbit-3 {
  0% {
    transform: rotate(240deg) translateX(20px) rotate(-240deg);
  }
  50% {
    transform: rotate(960deg) translateX(20px) rotate(-960deg);
  }
  62.5% {
    transform: rotate(960deg) translateX(0px) rotate(-960deg);
  }
  75% {
    transform: rotate(960deg) translateX(20px) rotate(-960deg);
  }
  100% {
    transform: rotate(1320deg) translateX(20px) rotate(-1320deg);
  }
}

