.cute-ripple {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cute-ripple > div {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid;
  border-radius: 50%;
  animation: cute-ripple 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.cute-ripple > div:nth-child(1) {
  animation-delay: 0s;
}

.cute-ripple > div:nth-child(2) {
  animation-delay: -0.466s;
}

.cute-ripple > div:nth-child(3) {
  animation-delay: -0.933s;
}

@keyframes cute-ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

