.cute-wave {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.cute-wave > div {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  animation: cute-wave 1.2s ease-in-out infinite;
}

.cute-wave > div:nth-child(1) {
  animation-delay: -1.1s;
}

.cute-wave > div:nth-child(2) {
  animation-delay: -1s;
}

.cute-wave > div:nth-child(3) {
  animation-delay: -0.9s;
}

.cute-wave > div:nth-child(4) {
  animation-delay: -0.8s;
}

@keyframes cute-wave {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

