.cute-zen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cute-zen-svg {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.cute-zen-outer {
  stroke-dasharray: 30 10;
  stroke-dashoffset: 0;
  transform-origin: 25px 25px;
  animation: cute-zen-rotate 3s linear infinite;
}

.cute-zen-inner {
  stroke-dasharray: 20 10;
  stroke-dashoffset: 0;
  transform-origin: 25px 25px;
  animation: cute-zen-rotate 2s linear infinite reverse;
}

.cute-zen-center {
  transform-origin: 25px 25px;
  animation: cute-zen-pulse 2s ease-in-out infinite;
}

@keyframes cute-zen-rotate {
  0% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
  100% {
    stroke-dashoffset: 40;
    transform: rotate(360deg);
  }
}

@keyframes cute-zen-pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

